* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #0C1014;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 1em;
    font-size: 3em;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: #05080a;
    padding: 1em .5em;
    margin: auto;
}

.header__logo {
    text-transform: uppercase;
    font-size: 2em;
    margin-left: 1em;
}

.header-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
}

.menu__item--active a,
.menu__item a {
    text-decoration: none;
    color: white;
    padding: .8em;
    margin: 0;
}

.menu__item--active a {
    background-color: greenyellow;
    color: black;
    border-radius: 5px;
    pointer-events: none;
}

.menu__item a:hover {
    text-decoration: underline;
}

.plan {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.plan-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #05080a;
    
    padding: 1em 2em;
}

.plan-card__title {
    text-transform: uppercase;
    border-bottom: 2px solid greenyellow;
    padding: .5em;
    letter-spacing: 2px;
}

.plan-card__price {
    font-size: .8em;
    margin: 1em 0;
}

.plan-card__price span {
    text-transform: uppercase;
    font-size: 1.5em;
}

.cards__list {
    margin: 1em;
    font-size: .8em;
    flex-grow: 1;
    line-height: 1.5em;
    color: rgb(184, 214, 214);

}

.cards__list li::marker {
    color: greenyellow;
}


.plan-card__cta {
    align-self: center;
    justify-self: end;
    width: 80%;
    padding: 1em;
    background-color: greenyellow;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin: 2em 1em 1em;

}

.plan-card__cta:hover {
    box-shadow: 0 0 10px yellowgreen;
    text-decoration: underline;
    cursor: pointer;

}